@model SacramentMeetingPlanner.Models.SacramentDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sacrament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sacrament.SacramentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.SacramentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sacrament.ClosingHymnNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.ClosingHymnNavigation.HymnTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sacrament.ClosingPrayerNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.ClosingPrayerNavigation.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sacrament.ConductingBishopricNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.ConductingBishopricNavigation.BishopricTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sacrament.IntermediateHymnNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.IntermediateHymnNavigation.HymnTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sacrament.OpeningHymnNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.OpeningHymnNavigation.HymnTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sacrament.OpeningPrayerNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.OpeningPrayerNavigation.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sacrament.SacramentHymnNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.SacramentHymnNavigation.HymnTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Sacrament.SacramentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@if (Model.Speakers != null)
{
    <h3> Speakers </h3>

    <p>
        <a asp-action="Create" asp-controller="speaker"  asp-route-id= "@ViewData["MeetingID"]">Create New</a>
    
    </p>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Topic</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Speakers)
        {
            <tr>
                <td>
                   
                    @Html.DisplayFor(modelItem => item.People.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic.TopicTitle)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="speaker" asp-route-id="@item.SpeakerId">Edit</a> |
                <a asp-action="Details" asp-controller="speaker" asp-route-id="@item.SacramentId">Details</a> |
                <a asp-action="Delete" asp-controller="speaker" asp-route-id="@item.SacramentId">Delete</a>
                </td>
            </tr>
        }
    </table>
}

