@model SacramentMeetingPlanner.Models.SacramentDetailViewModel

@{
    ViewData["Title"] = "Sacrament Meeting Details";
}

<h2>Sacrament Meeting Details</h2>

<div>
    <h4>Sacrament Meeting</h4>
    <hr />
    <dl class="dl-horizontal" id="sacramentprintdetails">
        
        <dt>
            Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.SacramentDate)
        </dd>
        <dt>
            Conducting
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.ConductingBishopricNavigation.BishopricTitle)
            @Html.DisplayFor(model => model.Sacrament.ConductingBishopricNavigation.People.FullName)

        </dd>
        <dt>
            Opening Hymn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.OpeningHymnNavigation.HymnId) - 
            @Html.DisplayFor(model => model.Sacrament.OpeningHymnNavigation.HymnTitle)
        </dd>
        <dt>
            Opening Prayer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.OpeningPrayerNavigation.FullName)
        </dd>
        <dt>
            Sacrament Hymn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.SacramentHymnNavigation.HymnId) - 
            @Html.DisplayFor(model => model.Sacrament.SacramentHymnNavigation.HymnTitle)
        </dd>
        <dt> Speakers</dt>
        <dd></dd>
        @{var top = 0;}
        @foreach (var item in Model.Speakers)
        {
            if(top < ViewBag.squarepeoplebottom) {
                <dd>
                    @Html.DisplayFor(modelItem => item.People.FullName) - 
                    @Html.DisplayFor(modelItem => item.Topic.TopicTitle)
                </dd>
            }
            top++;

        }
        <dt>
            Intermediate Hymn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.IntermediateHymnNavigation.HymnId) - 
            @Html.DisplayFor(model => model.Sacrament.IntermediateHymnNavigation.HymnTitle)
        </dd>
        <dt> Speakers</dt>
        <dd></dd>
        @{top = 0;}
        @foreach (var item in Model.Speakers)
        {
            if(top >= ViewBag.squarepeoplebottom) {
                <dd>
                    @Html.DisplayFor(modelItem => item.People.FullName) - 
                    @Html.DisplayFor(modelItem => item.Topic.TopicTitle)
                </dd>
            }
            top++;
        }
        <dt>
            Closing Hymn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.ClosingHymnNavigation.HymnId) - 
            @Html.DisplayFor(model => model.Sacrament.ClosingHymnNavigation.HymnTitle)
        </dd>
        <dt>
            Closing Prayer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sacrament.ClosingPrayerNavigation.FullName)
        </dd>
    </dl>
</div>
<div id="printedit">
    <a asp-action="Edit" asp-route-id="@Model.Sacrament.SacramentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>